<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav>
    <mat-nav-list
      role="list"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutAlign="center end"
    >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/home"
        (click)="sidenav.close()"
        class="matlist"
        >Home</mat-list-item
      >

      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/movies/addMovies"
        (click)="sidenav.close()"
        class="matlist"
        >add movies</mat-list-item
      >

      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/loadMovies"
        (click)="sidenav.close()"
        class="matlist"
        >load patients</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      class="res"
      fxLayoutAlign="row"
      color="primary"
      fxLayoutAlign="start center"
    >
      <button
        fxFlex.lt-md
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        fxLayoutAlign="start center"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav" fxHide.lt-md fxFlex>
        <ul class="nav-list" fxLayout="row" fxLayoutGap="3rem">
          <li class="nav-list__item">
            <a
              routerLink="/home"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >home</a
            >
          </li>
          <li class="nav-list__item">
            <a
              routerLink="/movies/addMovies"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >add movies</a
            >
          </li>
          <li class="nav-list__item">
            <a
              routerLink="/loadMovies"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >load movies</a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
