<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      class="res"
      fxLayoutAlign="row"
      color="primary"
      fxLayoutAlign="start center"
    >
      <button
        fxFlex.lt-md
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        fxLayoutAlign="start center"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav" fxHide.lt-md fxFlex>
        <ul class="nav-list" fxLayout="row" fxLayoutGap="3rem">
          <li class="nav-list__item">
            <a
              routerLink="/home"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >home</a
            >
          </li>
          <li class="nav-list__item">
            <a
              routerLink="/patients/addPatients"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >add patients</a
            >
          </li>
          <li class="nav-list__item">
            <a
              routerLink="/patients/loadPatients"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >load patients</a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
